/* styles/fonts.css */
  @import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap');
  @font-face {
    font-family: 'SFUGoudyMedium';
    src: url('/fonts/SFUGoudyMedium.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'SFUGoudyTimesTenRoman';
    src: url('/fonts/SFUTimesTenRoman.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'ShelleyLTStd-Script';
    src: url('/fonts/ShelleyLTStd-Script.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  

  body {
    /* font-family: 'SFUGoudyMedium'; */
  }

  .sfu-font {
    font-family: 'SFUGoudyTimesTenRoman';
    letter-spacing: -0.05em;
  }

  .shelley-font {
    font-family: 'ShelleyLTStd-Script';
  }

  .arial-font {
    font-family: Arial, Helvetica, sans-serif;
  }

  .epilogue-300 {
    font-family: "Epilogue";
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  