@font-face {
  font-family: "TUV-Domaine-Regular";
  src: url("/fonts/TUV-Domaine-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SFUGoudyMedium";
  src: url("/fonts/SFUGoudyMedium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "UVNSangSong";
  src: url("/fonts/UVNSangSong.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "UVNMotMoi";
  src: url("/fonts/UVNMotMoi.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
